.hero {
  background-image: url("/assets/images/banner-img.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

.hero h3 {
  font-size: 200px;
  color: var(--champagne);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero p {
  color: var(--champagne);
  opacity: 0.5;
  font-size: 40px;
}

.home-section {
  margin: 100px 0px 50px 0px;
  padding: 0px 70px;
}

.home-section .title {
  font-size: 60px;
  display: inline-block;
  color: var(--granny-smith-apple);
  border-bottom: 10px solid teal;
}

.home-section > .content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
