.main-section {
  display: flex;
  flex-direction: column;
}

.first-div {
  display: flex;
  padding: 20px 300px;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: var(--tea-green);
}

.event-title {
  color: var(--midnight-green-eagle-green);
  font-size: 60px;
}

.main-section aside {
  margin: auto 0 auto 30px;
  flex: 1;
}

.main-section .first-div .preview-image {
  border-radius: 10px;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.main-section .first-div .preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attend-button {
  margin-top: 30px;
  display: inline-block;
}

.event-badges {
  margin: 10px 0px;
}

.event-details {
  margin: 40px 0px;
  font-weight: bold;
  color: var(--midnight-green-eagle-green);
  line-height: 1.8;
}

.other-info-section {
  padding: 0 100px;
  margin: 30px 0;
}

.other-info-section .info-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.other-info-section .info-cards li {
  margin: 20px 10px;
  text-align: center;
}

.map-section {
  width: 80%;
  height: 600px;
  position: relative;
  margin: 50px auto 0px;
}

.map-section iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.card.mini .body ul {
  list-style-type: decimal;
  width: max-content;
  text-align: left;
  margin: 0 auto;
}

.card.mini .body {
  font-weight: 600;
  color: var(--illuminating-emerald);
  font-size: 30px;
}
.card.mini .body li {
  display: block;
}

.stats-sections {
  width: 75%;
  margin: 50px auto;
}

.stats-sections h3 {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: var(--midnight-green-eagle-green);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .stats-sections {
    display: none;
  }
  .first-div {
    flex-direction: column;
    padding: 20px 4px;
    align-items: center;
  }

  .main-section .first-div .preview-image {
    width: 300px;
    height: 300px;
  }

  .main-section aside {
    margin: auto 0 auto 0;
    padding: 0px 6px;
    text-align: center;
  }

  .event-title {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }

  .event-badges {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 7px;
  }

  .attend-button {
    width: max-content;
    margin: 30px auto;
  }

  .map-section {
    height: 300px;
  }

  .other-info-section {
    padding: 0 5px;
  }
  .other-info-section .info-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
